##############################
## OS X
##############################
.DS_Store

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Maven
##############################
target/
.mvn/
mvnw
mvnw.cmd
